/* Base CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="Submit"],
button[type="submit"] {
    outline: none;
}

input[type="text"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="textarea"] {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

header.header-bg {
    background-color: #F0FFF0;
}

.navbar-brand img {
    height: 60px;
}

li.nav-item a {
    color: #000000;
    font-size: 16px;
    padding: 12px 28px;
    transition: 0.5s;
}

li.nav-item {
    padding: 0px 20px;
}

.active a {
    color: #fff !important;
}

.active,
li.nav-item:hover {
    background-color: #21B573;
    border-radius: 33px;
}

li.nav-item:hover a {
    color: #fff;
    transition: 0.5s;
}

.banner-area {
    padding: 40px 0;
}

.banner-details {
    padding: 0 25px;
}

.banner-details h6 {
    font-size: 16px;
    font-weight: 400;
    color: #FD511A;
    line-height: 24px;
}

.banner-details h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

.banner-details h2 span {
    color: #21B573;
}

.banner-details p {
    font-size: 16px;
    color: #6C6B6B;
    font-weight: 400;
    line-height: 36px;
}

button.butten-btn {
    background-color: #21B573;
    border-radius: 33px;
    border: navajowhite;
    padding: 12px 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 18px;
    text-align: center;
}

.container-mb-100 {
    margin-bottom: 100px;
}

.data-section img {
    width: 80px;
    height: 80px;
}

.data-section h3 {
    font-size: 24px;
    font-weight: 500;
    color: #413960;
    padding-top: 20px;
}

.data-section p {
    color: #585859;
}

.data-section {
    background-color: #F8FFFB;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px;
}

.data-section:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section-title h1 {
    text-align: center;
    color: #413960;
    font-size: 36px;
    font-weight: 700;
    padding: 35px 0;
}

.card-details {
    padding: 20px 15px;
}

.card {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

h5.card-title {
    color: #413960;
    font-weight: 500;
    line-height: 36px;
}

p.card-text {
    color: #585859;
    line-height: 24px;
}

button.but-btn {
    padding: 8px 24px;
    line-height: 18px;
    color: #ffffff;
}

.testimonial-img img {
    width: 120px;
    height: 120px;
}

.testimonial-img {
    text-align: center;
}

.testimonial-details p {
    color: #000000;
    line-height: 30px;
    padding: 0 40px;
    text-align: justify;
}

.course-more span {
    color: #585859;
    line-height: 24px;
    margin-left: 10px;
}

.course-more {
    padding: 10px 18px;
}

.footer-bg {
    background-color: #282531;
    color: #FFFFFF;
}

.footer-item {
    padding: 60px 0;
}

.footer-text p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
}

.footer-link h4 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.footer-link li {
    list-style: none;
}

.footer-link ul {
    padding: 0;
    margin: 0;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
}

small.copyright-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    padding: 20px 0;
}